1.write a program to find sum of all elements in a list of integers.

In [1]:
list1=[1,2,3,4,5,6,7,8,9,10]
print(sum(list1))

55

2.Input a sentence as astring.
  a.print its length
  b.print the 1st half of string

In [3]:
strng="I am Adithya"
print(len(strng))
print(strng[0:7])

12
I am Ad

3.write a program to enter a tuple of integers as(78,45,32,19,82,77,40,39),change the third value in the tuple to 100.

In [4]:
t1=(78,45,32,19,82,77,40,39)
t1[3]=100
#A tuple is a collection which is orderd and unchangeble

TypeError: ignored

4.consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40],
a.Delete the 1st occurance of 32

In [5]:
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
listA.remove(32)

In [6]:
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

b.Delete the all occurence of 40

In [7]:
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
listA.pop()

40

In [8]:
listA.pop()

40

In [9]:
listA

[19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77]

c.Delete the value at index=5

In [20]:
listA=[19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77]
del listA[5]

In [21]:
listA

[19, 32, 10, 55, 32, 94, 29, 10, 65, 77]

d.modify the value at index=9 as 300

In [22]:
listA[9]=300

In [23]:
listA

[19, 32, 10, 55, 32, 94, 29, 10, 65, 300]

e.Add 200 at index=2

In [27]:
listA.insert(2,200)
listA

[19, 32, 200, 200, 10, 55, 32, 94, 29, 10, 65, 300]

In [30]:
listA=[19, 32, 10, 55, 32, 94, 29, 10, 65, 300]
listA[2]+=200
listA

[19, 32, 210, 55, 32, 94, 29, 10, 65, 300]

f.print the final list with its length, maximum value and sum of all elements.

In [33]:
print(len(listA))
print(sum(listA))

10
846

In [34]:
print(max(listA))

300

5.consider a string "The  day has been long"
a.Delete the value at index=4

In [1]:
strng="The day has been long"

In [13]:
print(strng[0:5]+strng[6:17])

The dy has been

b.print the string 4 times in a single line with space between each repetition.

In [25]:
print("The day has been long  "   *4)

The day has been long  The day has been long  The day has been long  The day has been long

c.print the string 3 times in a new line each time.

In [26]:
print("The day has been long \n" *3)

The day has been long
The day has been long
The day has been long

d.modify the string from index 7 as 'A'

In [30]:
strng.

NameError: ignored

e.print the string from index 4 to 15

In [31]:
print(strng[4:15])

day has bee

In [32]:
len(strng)

21